:ruby
  income = sum_values(incomes)
  spent = sum_values(expenses)
  balance = income - spent
  dividable_sum = sum_values(expenses.dividable)
  cu_share = sum_values(expenses.dividable.where(user: current_user))
  ou_share = dividable_sum - cu_share
  debit = cu_share - ou_share

= render partial: 'sum_boxes', locals: { income: income, spent: spent, balance: balance, debit: debit }

.box.box-primary
  .box-header.with-border
    %h3.box-title Incomes
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        %i.fa.fa-minus
      %button.btn.btn-box-tool{ data: { widget: 'remove' }, type: 'button' }
        %i.fa.fa-times
  .box-body
    .chart
      = column_chart @incomes.to_a.group_by_month(&:operation_date).map { |k, v| [k, v.map(&:value).reduce(:+)] }

.box.box-primary
  .box-header.with-border
    %h3.box-title Expenses
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        %i.fa.fa-minus
      %button.btn.btn-box-tool{ data: { widget: 'remove' }, type: 'button' }
        %i.fa.fa-times
  .box-body
    .chart
      = column_chart @expenses.to_a.group_by_month(&:operation_date).map { |k, v| [k, v.map(&:value).reduce(:+)] }
