= render partial: 'sum_boxes', locals: { income: sum_values(incomes), spent: sum_values(expenses),  debit: debit(expenses) }
= render partial: 'dashboard/charts/expenses_pie_chart', locals: { expenses: expenses }
= render partial: 'dashboard/charts/expenses_listing', locals: { expenses: expenses }
