= render partial: 'sum_boxes', locals: { income: sum_values(incomes), spent: sum_values(expenses),  debit: debit(expenses) }

.box.box-primary
  .box-header.with-border
    %h3.box-title Categories
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        %i.fa.fa-minus
      %button.btn.btn-box-tool{ data: { widget: 'remove' }, type: 'button' }
        %i.fa.fa-times
  .box-body
    .chart
      = pie_chart expenses.group_by_category, id: 'expenses-chart', width: '450px', height: '450px'
