%section#event-index
  .container
    .row
      .col-md-6
        %h2.section-heading Incomes:
        = humanized_money_with_symbol @incomes_sum * 100
        = pie_chart Income.group_by_subcategory
      .col-md-6
        %h2.section-heading Expenses:
        = humanized_money_with_symbol @expenses_sum * 100
        = pie_chart Expense.group_by_subcategory
