.grid
  = render 'sidebar_menu', locals: { expense_months: @expense_months }
  #expenses.col-md-6
    = render partial: 'expenses', locals: { expenses: @expenses }
  #incomes.col-md-6
    = render partial: 'incomes', locals: { incomes: @incomes }
  #balance.col-md-12
    = render partial: 'balance', locals: { incomes: @incomes, expenses: @expenses }
