
.container
  %section.content-header
    %h1 Overall Summary
    %small
  .row
    .pull-right.col-md-3
      .text-center
        = link_to dashboard_overall_path(users: current_user.id), class: 'btn btn-flat' do
          Only you
        |
        = link_to dashboard_overall_path, class: 'btn  btn-flat' do
          All Users

  %section.content
    .row
      #summary
        = render partial: 'overall_summary', locals: { incomes: @incomes, expenses: @expenses, bills: @bills, average_spent_per_day: @average_spent_per_day }
