.box-body.table-responsive.no-padding
  %table.table.table-sm.table-hover
    %thead
      %tr
        %th User
        %th
        %th Value
        %th.col-sm-1 Contractor
        %th.col-sm-5 Categories
        %th.col-sm-2 Tags
        %th.col-sm-1 Date
        %th.col-sm-1
    %tbody
      - bills.each do |bill|
        = c 'bill_item', bill: bill
