.container
  %section.content-header
    %h1
      Incomes
      %small Listing of all incomes
  %section.content
    .container
      .row
        = render partial: 'incomes', locals: { incomes: @incomes }
        = link_to 'new', new_income_path, class: 'btn btn-primary'

      .text-center
        = paginate @incomes
