.container
  %section.content-header
    %h1
      Incomes
      %small Listing of all incomes
  %section.content
    .container
      .row
        = render partial: 'incomes', locals: { incomes: @incomes }
      .text-center
        = paginate @incomes
