default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: budget_development

  #username: budget

  #password:

  #host: localhost

  #port: 5432

  #schema_search_path: myapp,sharedapp,public

  #min_messages: notice

test:
  <<: *default
  database: budget_test

production:
  <<: *default
  database: budget2_production
  username: budget2
  password: <%= ENV['BUDGET2_DATABASE_PASSWORD'] %>
