default: &default
  adapter: postgresql
  user: user
  password: password
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: calincome_development
test:
  <<: *default
  database: calincome_test
