default: &default
  adapter: postgresql
  user: user
  password: password
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: budget2_development
test:
  <<: *default
  database: budget2_test
