.container
  %section.content-header
    %h1
      Contractors
      = link_to new_contractor_path do
        %i.fa.fa-plus-square-o
  %section.content
    .container
      .row
        = render partial: 'contractors', locals: { contractors: @contractors }
