.container
  %section.content-header
    %h1
      Categories
      = link_to new_category_path do
        %i.fa.fa-plus-square-o
  %section.content
    .container
      .row
        = render partial: 'categories', locals: { categories: @categories }
