
.box.box-primary
  .box-header.with-border
    %h3.box-title Expenses by day
    .box-tools.pull-right
      %button.btn.btn-box-tool{ data: { widget: 'collapse' }, type: 'button' }
        %i.fa.fa-minus
      %button.btn.btn-box-tool{ data: { widget: 'remove' }, type: 'button' }
        %i.fa.fa-times
  .box-body
    = column_chart expenses.map { |e| [e.operation_date.to_date, e.value.to_f] }.sort
