.container
  %section.content-header
    %h1
      Expenses
      %small Listing of all expenses
  %section.content
    .container
      .row
        - tag_cloud(@tags, %w(tag1 tag2 tag3 tag4)) do |tag, css_class|
          = link_to tag.name, tag_path(tag.name), class: css_class
        = render partial: 'expenses', locals: { expenses: @expenses }
      .text-center
        = paginate @expenses
